<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>

    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">The Task Scheduler</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Current Tasks</a></li>
          <li><a href="#">Finished Tasks</a></li>
          <li><a href="#">Add new task</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" />

<main>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-4">

        <div class="card text-warning">
          <img class="card-img-top img-fluid" src="assets/img/cape_cod.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Go to Cape Cod</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>

      </div>

      <div class="col-sm-4">

        <div class="card text-warning">
          <img class="card-img-top img-fluid" src="assets/img/cape_cod.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Go to Cape Cod</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>

      </div>

      <div class="col-sm-4">

        <div class="card text-warning">
          <img class="card-img-top img-fluid" src="assets/img/cape_cod.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Go to Cape Cod</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>

      </div>

      <div class="col-sm-4">

        <div class="card text-warning">
          <img class="card-img-top img-fluid" src="assets/img/cape_cod.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>

      </div>

      <div class="col-sm-4">

        <div class="card text-warning">
          <img class="card-img-top img-fluid" src="assets/img/cape_cod.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Go to Cape Cod</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>

      </div>

      <div class="col-sm-4">

        <div class="card text-warning">
          <img class="card-img-top img-fluid" src="assets/img/cape_cod.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Go to Cape Cod</h4>
            <p class="card-text text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>

      </div>

    </div>
  </div>

</main>
    </div>

  </body>

</html>
